/Back_workspace/Account Management/node_modules
/Back_workspace/FRONT/node_modules
/Back_workspace/Gateway/node_modules
/Back_workspace/Party Management/node_modules
/Back_workspace/Song Streaming/node_modules
/Back_workspace/Statistics and Recommendations/node_modules