<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/liveParty.css">
    <title>Live Party</title>
</head>

<body>
    <img src="../logoMUP/logoMUP.png">
    <div class="livePartyCard">
        <div class="everySong">
            <span>Track's Name</span>
            <button type="button">❤</button>
        </div>
        <div class="actionButtons">
            <button type="button">Suggest a track</button>
            <button onclick="location.href='./myPartiesPage.html';" type="button">Leave</button>
        </div>
    </div>

</body>

</html>