    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/loginGlobal.css">
    <title>MUP- Login</title>
</head>

<body>
    <div class="bothContainers">
        <div class="leftContainer">
            <div class="logo">
                <img src="../logoMUP/logoMUP.png">
            </div>
            <div class="describeApp">
                <div class="listDescribeApp">
                    <ul style="list-style-type:circle;">
                        <li>Get your Party started</li>
                        <li>Create or Join to a Party</li>
                        <li>Decide which tracks should be played</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rightContainer">
            <div class="loginRegisterLinks">
                <span>Login Form</span>
                <a href="./registerPage.html">Don't have an account yet?</a>
            </div>
            <div class="Form">
                <form action="#" method="POST">
                    <div class="inputElements">
                        <input type="email" placeholder="E-mail" required>
                        <input type="password" placeholder="Password" required>
                    </div>
            </div>
            <div class="Buttons">
                <button onclick="location.href='./mainPage.html';" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>