<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
      <link rel="stylesheet" href="../css/liveParty.css">
      <!--      <link rel="stylesheet" href="../css/loginPage.css">-->
      <!--      <link rel="stylesheet" href="../css/mainPage.css">-->
      <!--      <link rel="stylesheet" href="../css/manageParty.css">-->
      <!--      <link rel="stylesheet" href="../css/myPartiesPage.css">-->
      <!--      <link rel="stylesheet" href="../css/registerPage.css">-->
</head>

<body>
      <!--      <button onclick="history.pushState('','','/login'); changePage()">Mere</button>-->
</body>
<script src="../js/mainPage.js"></script>
<script src="../js/fetchs.js"></script>
<script src="../js/gyroscop.js"></script>





</html>